:host {
  position: relative;
  display: block;
  width: max-content;
  min-width: 150px;
  min-height: 150px;
}

.loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.loader::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  margin-left: -16px;
  border-radius: 50%;
  border: 1px solid #ccc;
  border-top-color: #07d;
  animation: spinner 600ms linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

caption,
table {
  border-spacing: 0;
  border: 2px solid black;
}

caption {
  border-bottom: 0;
}

table tbody,
table thead {
  display: block;
}

table tbody {
  height: 470px;
  overflow-y: auto;
  overflow-x: hidden;
}

tbody {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

tbody td,
thead th {
  min-width: 120px;
}

tbody td:not(:last-child),
thead th:not(:last-child) {
  border-right: 2px solid black;
}

thead th {
  padding: 10px;
}

tbody tr:not(:last-child) td {
  border-bottom: 2px solid black;
}

td {
  text-align: center;
}

.button {
  display: block;
  margin: 12px auto;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;

  &:focus {
    outline: none;
  }
}
