:host {
  position: relative;
  display: block;
  width: max-content;
  min-width: 150px;
  min-height: 150px;
}

.loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.loader::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -16px;
  margin-left: -16px;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top-color: #07d;
  animation: spinner 600ms linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

table tbody,
table thead {
  display: block;
}

table tbody {
  height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
}

thead {
  background-color: #007bff;
}

tbody {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

tbody td,
thead th {
  min-width: 120px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead th {
  color: white;
  padding: 10px;
  text-align: left;
}

tbody td {
  padding: 8px;
  border-top: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

caption h3 {
  padding: 10px;
  color: #333;
  font-weight: bold;
}

.button {
  display: block;
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 5px;
}

button.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#icon {
  padding: 5px;
}

img#wicon {
  width: 50px;
  height: 50px;
}
